@import 'variables';
@import 'header';
@import 'buttons';
@import 'loading';
@import 'mobile';

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

#main-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    z-index: 50;

    #sidebar {
        height: $content-height;
        border-right: $container-border;
        margin: $header-height 0 0 0;
        display: flex;
        flex-direction: column;
        padding: 20px 20px 0 20px;
        box-sizing: border-box;
        z-index: 10;
        background-color: $bgcolor-light;

        .folder-container {
            padding: 10px 30px 0 0;
            display: flex;
            flex-direction: column;

            .folder {
                margin: 10px 0 0 0;
                color: $textcolor-main;
                font-family: $text-font;
                user-select: none;
                cursor: pointer;
                font-size: 1.05rem;

                p {
                    margin: 0;
                }

                &:hover {
                    color: $color-dark;
                }

                &:focus,
                &:active,
                &.selected {
                    color: $color-light;
                }
            }

            .folder-template {
                display: none;
            }
        }
    }

    .drag-container {
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        pointer-events: none;
        user-select: none;
        display: none;
        z-index: 9;

        .drag-menu {
            background-color: #0000003a;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 20px;
            z-index: 11;
            pointer-events: stroke;
            opacity: 0;
        }
    }


    #main-list {
        margin: $header-height 0 0 0;
        width: $mail-list-width;
        height: $content-height;
        z-index: 8;
        transition: width 300ms $intro-cubic-bezier;

        .mail-list-container {
            border-right: $container-border;
            background-color: $bgcolor-light;
            height: 100%;

            .mail {
                margin: 0;
                font-family: $text-font;

                .mail-list-sender {
                    padding: 10px 0 0 10px;
                    color: $textcolor-main;
                    font-size: 1rem;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: #{$mail-list-width - 50px};
                    white-space: nowrap;
                }

                .mail-list-text {
                    padding: 10px 0 10px 10px;
                    color: $textcolor-light;
                    font-size: 0.9rem;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: #{$mail-list-width - 50px};
                    white-space: nowrap;
                }

                &:after {
                    content: "";
                    height: 1px;
                    width: calc(100% - 20px);
                    margin: 0 auto;
                    border-bottom: $container-border;
                    display: block;
                }

                &:hover {
                    background-color: #{$color-main + "5D"};
                }

                &:focus,
                &:active,
                &.selected {
                    background-color: #{$color-main + "2D"};
                }
            }

            .mail-list-template {
                display: none;
            }
        }
    }
}