@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Righteous');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@mixin fullSize {
    height: 100%;
    width: 100%;
    margin: 0;
}

html {
    @include fullSize;
}

html.light-theme {
    @import 'themes/dark';
    @import 'main';
}

html.dark-theme {
    @import 'themes/light';
    @import 'main';
}