@import url("https://fonts.googleapis.com/css?family=Noto+Sans|Righteous");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
html {
  height: 100%;
  width: 100%;
  margin: 0;
}

html.light-theme #header {
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #e4e4e4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  z-index: 100;
}

html.light-theme #header .logo-container {
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html.light-theme #header .logo-container .menu-btn-mobile {
  display: none;
  padding: 10px 20px 10px 0;
  cursor: pointer;
  color: #304ffe;
}

html.light-theme #header .logo-container .menu-btn-mobile i {
  margin: auto;
}

html.light-theme #header .logo-container a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
}

html.light-theme #header .logo-container a .logo-name {
  font-family: "Righteous";
  color: #304ffe;
  margin: auto;
  text-align: center;
}

html.light-theme #header .account-container {
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html.light-theme #header .account-container .account-name {
  margin: auto;
  font-family: "Noto Sans", "Roboto", Arial, "Sans Serif";
}

html.light-theme .btn {
  text-decoration: none;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 5px;
  font-family: "Noto Sans", "Roboto", Arial, "Sans Serif";
  width: auto;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-transition: -webkit-box-shadow 300ms cubic-bezier(0.46, 0, 0.33, 1);
  transition: -webkit-box-shadow 300ms cubic-bezier(0.46, 0, 0.33, 1);
  transition: box-shadow 300ms cubic-bezier(0.46, 0, 0.33, 1);
  transition: box-shadow 300ms cubic-bezier(0.46, 0, 0.33, 1), -webkit-box-shadow 300ms cubic-bezier(0.46, 0, 0.33, 1);
}

html.light-theme .btn i {
  padding: 0 5px 0 0;
}

html.light-theme .btn p {
  margin: 0;
  padding: 0;
}

html.light-theme .btn.large {
  padding: 5px 8px;
}

html.light-theme .btn.filled {
  border: solid 2px #304ffe;
  color: #304ffe;
}

html.light-theme .btn:hover {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

html.light-theme .btn:focus, html.light-theme .btn:active {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: -webkit-box-shadow 100ms cubic-bezier(0.62, 0.12, 1, 0.7);
  transition: -webkit-box-shadow 100ms cubic-bezier(0.62, 0.12, 1, 0.7);
  transition: box-shadow 100ms cubic-bezier(0.62, 0.12, 1, 0.7);
  transition: box-shadow 100ms cubic-bezier(0.62, 0.12, 1, 0.7), -webkit-box-shadow 100ms cubic-bezier(0.62, 0.12, 1, 0.7);
}

html.light-theme .loading-animation {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  z-index: 100;
}

html.light-theme .loading-animation .loading-circle {
  width: 5px;
  height: 5px;
  margin: auto 0;
  border-radius: 50%;
  border: solid 5px #304ffe;
  border-start-end-radius: 50%;
  z-index: 18;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html.light-theme .loading-animation .loading-circle-1 {
  -webkit-animation: circle-1 1s cubic-bezier(0.46, 0, 0.33, 1) infinite;
          animation: circle-1 1s cubic-bezier(0.46, 0, 0.33, 1) infinite;
}

html.light-theme .loading-animation .loading-circle-2 {
  -webkit-animation: circle-2 1s cubic-bezier(0.46, 0, 0.33, 1) infinite;
          animation: circle-2 1s cubic-bezier(0.46, 0, 0.33, 1) infinite;
}

html.light-theme .loading-animation .loading-circle-3 {
  -webkit-animation: circle-2 1s cubic-bezier(0.46, 0, 0.33, 1) infinite;
          animation: circle-2 1s cubic-bezier(0.46, 0, 0.33, 1) infinite;
}

html.light-theme .loading-animation .loading-circle-4 {
  -webkit-animation: circle-3 1s cubic-bezier(0.46, 0, 0.33, 1) infinite;
          animation: circle-3 1s cubic-bezier(0.46, 0, 0.33, 1) infinite;
}

html.light-theme .loading-animation.inactive {
  display: none;
}

@-webkit-keyframes circle-1 {
  0% {
    -webkit-transform: scale(0) translateX(0);
            transform: scale(0) translateX(0);
  }
  100% {
    -webkit-transform: scale(1) translateX(125%);
            transform: scale(1) translateX(125%);
  }
}

@keyframes circle-1 {
  0% {
    -webkit-transform: scale(0) translateX(0);
            transform: scale(0) translateX(0);
  }
  100% {
    -webkit-transform: scale(1) translateX(125%);
            transform: scale(1) translateX(125%);
  }
}

@-webkit-keyframes circle-2 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(125%);
            transform: translateX(125%);
  }
}

@keyframes circle-2 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(125%);
            transform: translateX(125%);
  }
}

@-webkit-keyframes circle-3 {
  0% {
    -webkit-transform: scale(1) translateX(0);
            transform: scale(1) translateX(0);
  }
  100% {
    -webkit-transform: scale(0) translateX(125%);
            transform: scale(0) translateX(125%);
  }
}

@keyframes circle-3 {
  0% {
    -webkit-transform: scale(1) translateX(0);
            transform: scale(1) translateX(0);
  }
  100% {
    -webkit-transform: scale(0) translateX(125%);
            transform: scale(0) translateX(125%);
  }
}

@media only screen and (max-width: 700px) {
  html.light-theme .menu-btn-mobile {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  html.light-theme #sidebar {
    position: absolute;
  }
  html.light-theme #main-list {
    width: 100% !important;
  }
  html.light-theme #main-list .mail-list-container .mail .mail-list-sender, html.light-theme #main-list .mail-list-container .mail .mail-list-text {
    max-width: calc(100% - 20px) !important;
  }
  html.light-theme .drag-container {
    display: block !important;
  }
  html.light-theme #main-content {
    display: none;
  }
}

html.light-theme .slide-out {
  -webkit-transition-property: left, right, width, opacity, -webkit-transform;
  transition-property: left, right, width, opacity, -webkit-transform;
  transition-property: transform, left, right, width, opacity;
  transition-property: transform, left, right, width, opacity, -webkit-transform;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-timing-function: cubic-bezier(0.62, 0.12, 1, 0.7);
          transition-timing-function: cubic-bezier(0.62, 0.12, 1, 0.7);
}

html.light-theme .slide-in {
  -webkit-transition-property: left, right, width, opacity, -webkit-transform;
  transition-property: left, right, width, opacity, -webkit-transform;
  transition-property: transform, left, right, width, opacity;
  transition-property: transform, left, right, width, opacity, -webkit-transform;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-timing-function: cubic-bezier(0.46, 0, 0.33, 1);
          transition-timing-function: cubic-bezier(0.46, 0, 0.33, 1);
}

html.light-theme html,
html.light-theme body {
  height: 100%;
  width: 100%;
  margin: 0;
}

html.light-theme #main-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  z-index: 50;
}

html.light-theme #main-container #sidebar {
  height: calc(100% - 60px);
  border-right: solid 1px #cecece;
  margin: 60px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 20px 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 10;
  background-color: #fff;
}

html.light-theme #main-container #sidebar .folder-container {
  padding: 10px 30px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html.light-theme #main-container #sidebar .folder-container .folder {
  margin: 10px 0 0 0;
  color: #1e1e1e;
  font-family: "Noto Sans", "Roboto", Arial, "Sans Serif";
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  font-size: 1.05rem;
}

html.light-theme #main-container #sidebar .folder-container .folder p {
  margin: 0;
}

html.light-theme #main-container #sidebar .folder-container .folder:hover {
  color: #0043ca;
}

html.light-theme #main-container #sidebar .folder-container .folder:focus, html.light-theme #main-container #sidebar .folder-container .folder:active, html.light-theme #main-container #sidebar .folder-container .folder.selected {
  color: #536dfe;
}

html.light-theme #main-container #sidebar .folder-container .folder-template {
  display: none;
}

html.light-theme #main-container .drag-container {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: none;
  z-index: 9;
}

html.light-theme #main-container .drag-container .drag-menu {
  background-color: #0000003a;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 20px;
  z-index: 11;
  pointer-events: stroke;
  opacity: 0;
}

html.light-theme #main-container #main-list {
  margin: 60px 0 0 0;
  width: 350px;
  height: calc(100% - 60px);
  z-index: 8;
  -webkit-transition: width 300ms cubic-bezier(0.46, 0, 0.33, 1);
  transition: width 300ms cubic-bezier(0.46, 0, 0.33, 1);
}

html.light-theme #main-container #main-list .mail-list-container {
  border-right: solid 1px #cecece;
  background-color: #fff;
  height: 100%;
}

html.light-theme #main-container #main-list .mail-list-container .mail {
  margin: 0;
  font-family: "Noto Sans", "Roboto", Arial, "Sans Serif";
}

html.light-theme #main-container #main-list .mail-list-container .mail .mail-list-sender {
  padding: 10px 0 0 10px;
  color: #1e1e1e;
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
  white-space: nowrap;
}

html.light-theme #main-container #main-list .mail-list-container .mail .mail-list-text {
  padding: 10px 0 10px 10px;
  color: #303030;
  font-size: 0.9rem;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
  white-space: nowrap;
}

html.light-theme #main-container #main-list .mail-list-container .mail:after {
  content: "";
  height: 1px;
  width: calc(100% - 20px);
  margin: 0 auto;
  border-bottom: solid 1px #cecece;
  display: block;
}

html.light-theme #main-container #main-list .mail-list-container .mail:hover {
  background-color: #304ffe5D;
}

html.light-theme #main-container #main-list .mail-list-container .mail:focus, html.light-theme #main-container #main-list .mail-list-container .mail:active, html.light-theme #main-container #main-list .mail-list-container .mail.selected {
  background-color: #304ffe2D;
}

html.light-theme #main-container #main-list .mail-list-container .mail-list-template {
  display: none;
}

html.dark-theme #header {
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #e4e4e4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  z-index: 100;
}

html.dark-theme #header .logo-container {
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html.dark-theme #header .logo-container .menu-btn-mobile {
  display: none;
  padding: 10px 20px 10px 0;
  cursor: pointer;
  color: #304ffe;
}

html.dark-theme #header .logo-container .menu-btn-mobile i {
  margin: auto;
}

html.dark-theme #header .logo-container a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
}

html.dark-theme #header .logo-container a .logo-name {
  font-family: "Righteous";
  color: #304ffe;
  margin: auto;
  text-align: center;
}

html.dark-theme #header .account-container {
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html.dark-theme #header .account-container .account-name {
  margin: auto;
  font-family: "Noto Sans", "Roboto", Arial, "Sans Serif";
}

html.dark-theme .btn {
  text-decoration: none;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 5px;
  font-family: "Noto Sans", "Roboto", Arial, "Sans Serif";
  width: auto;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-transition: -webkit-box-shadow 300ms cubic-bezier(0.46, 0, 0.33, 1);
  transition: -webkit-box-shadow 300ms cubic-bezier(0.46, 0, 0.33, 1);
  transition: box-shadow 300ms cubic-bezier(0.46, 0, 0.33, 1);
  transition: box-shadow 300ms cubic-bezier(0.46, 0, 0.33, 1), -webkit-box-shadow 300ms cubic-bezier(0.46, 0, 0.33, 1);
}

html.dark-theme .btn i {
  padding: 0 5px 0 0;
}

html.dark-theme .btn p {
  margin: 0;
  padding: 0;
}

html.dark-theme .btn.large {
  padding: 5px 8px;
}

html.dark-theme .btn.filled {
  border: solid 2px #304ffe;
  color: #304ffe;
}

html.dark-theme .btn:hover {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

html.dark-theme .btn:focus, html.dark-theme .btn:active {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: -webkit-box-shadow 100ms cubic-bezier(0.62, 0.12, 1, 0.7);
  transition: -webkit-box-shadow 100ms cubic-bezier(0.62, 0.12, 1, 0.7);
  transition: box-shadow 100ms cubic-bezier(0.62, 0.12, 1, 0.7);
  transition: box-shadow 100ms cubic-bezier(0.62, 0.12, 1, 0.7), -webkit-box-shadow 100ms cubic-bezier(0.62, 0.12, 1, 0.7);
}

html.dark-theme .loading-animation {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  z-index: 100;
}

html.dark-theme .loading-animation .loading-circle {
  width: 5px;
  height: 5px;
  margin: auto 0;
  border-radius: 50%;
  border: solid 5px #304ffe;
  border-start-end-radius: 50%;
  z-index: 18;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html.dark-theme .loading-animation .loading-circle-1 {
  -webkit-animation: circle-1 1s cubic-bezier(0.46, 0, 0.33, 1) infinite;
          animation: circle-1 1s cubic-bezier(0.46, 0, 0.33, 1) infinite;
}

html.dark-theme .loading-animation .loading-circle-2 {
  -webkit-animation: circle-2 1s cubic-bezier(0.46, 0, 0.33, 1) infinite;
          animation: circle-2 1s cubic-bezier(0.46, 0, 0.33, 1) infinite;
}

html.dark-theme .loading-animation .loading-circle-3 {
  -webkit-animation: circle-2 1s cubic-bezier(0.46, 0, 0.33, 1) infinite;
          animation: circle-2 1s cubic-bezier(0.46, 0, 0.33, 1) infinite;
}

html.dark-theme .loading-animation .loading-circle-4 {
  -webkit-animation: circle-3 1s cubic-bezier(0.46, 0, 0.33, 1) infinite;
          animation: circle-3 1s cubic-bezier(0.46, 0, 0.33, 1) infinite;
}

html.dark-theme .loading-animation.inactive {
  display: none;
}

@keyframes circle-1 {
  0% {
    -webkit-transform: scale(0) translateX(0);
            transform: scale(0) translateX(0);
  }
  100% {
    -webkit-transform: scale(1) translateX(125%);
            transform: scale(1) translateX(125%);
  }
}

@keyframes circle-2 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(125%);
            transform: translateX(125%);
  }
}

@keyframes circle-3 {
  0% {
    -webkit-transform: scale(1) translateX(0);
            transform: scale(1) translateX(0);
  }
  100% {
    -webkit-transform: scale(0) translateX(125%);
            transform: scale(0) translateX(125%);
  }
}

@media only screen and (max-width: 700px) {
  html.dark-theme .menu-btn-mobile {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  html.dark-theme #sidebar {
    position: absolute;
  }
  html.dark-theme #main-list {
    width: 100% !important;
  }
  html.dark-theme #main-list .mail-list-container .mail .mail-list-sender, html.dark-theme #main-list .mail-list-container .mail .mail-list-text {
    max-width: calc(100% - 20px) !important;
  }
  html.dark-theme .drag-container {
    display: block !important;
  }
  html.dark-theme #main-content {
    display: none;
  }
}

html.dark-theme .slide-out {
  -webkit-transition-property: left, right, width, opacity, -webkit-transform;
  transition-property: left, right, width, opacity, -webkit-transform;
  transition-property: transform, left, right, width, opacity;
  transition-property: transform, left, right, width, opacity, -webkit-transform;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-timing-function: cubic-bezier(0.62, 0.12, 1, 0.7);
          transition-timing-function: cubic-bezier(0.62, 0.12, 1, 0.7);
}

html.dark-theme .slide-in {
  -webkit-transition-property: left, right, width, opacity, -webkit-transform;
  transition-property: left, right, width, opacity, -webkit-transform;
  transition-property: transform, left, right, width, opacity;
  transition-property: transform, left, right, width, opacity, -webkit-transform;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-timing-function: cubic-bezier(0.46, 0, 0.33, 1);
          transition-timing-function: cubic-bezier(0.46, 0, 0.33, 1);
}

html.dark-theme html,
html.dark-theme body {
  height: 100%;
  width: 100%;
  margin: 0;
}

html.dark-theme #main-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  z-index: 50;
}

html.dark-theme #main-container #sidebar {
  height: calc(100% - 60px);
  border-right: solid 1px #cecece;
  margin: 60px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 20px 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 10;
  background-color: #fff;
}

html.dark-theme #main-container #sidebar .folder-container {
  padding: 10px 30px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html.dark-theme #main-container #sidebar .folder-container .folder {
  margin: 10px 0 0 0;
  color: #1e1e1e;
  font-family: "Noto Sans", "Roboto", Arial, "Sans Serif";
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  font-size: 1.05rem;
}

html.dark-theme #main-container #sidebar .folder-container .folder p {
  margin: 0;
}

html.dark-theme #main-container #sidebar .folder-container .folder:hover {
  color: #0043ca;
}

html.dark-theme #main-container #sidebar .folder-container .folder:focus, html.dark-theme #main-container #sidebar .folder-container .folder:active, html.dark-theme #main-container #sidebar .folder-container .folder.selected {
  color: #536dfe;
}

html.dark-theme #main-container #sidebar .folder-container .folder-template {
  display: none;
}

html.dark-theme #main-container .drag-container {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: none;
  z-index: 9;
}

html.dark-theme #main-container .drag-container .drag-menu {
  background-color: #0000003a;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 20px;
  z-index: 11;
  pointer-events: stroke;
  opacity: 0;
}

html.dark-theme #main-container #main-list {
  margin: 60px 0 0 0;
  width: 350px;
  height: calc(100% - 60px);
  z-index: 8;
  -webkit-transition: width 300ms cubic-bezier(0.46, 0, 0.33, 1);
  transition: width 300ms cubic-bezier(0.46, 0, 0.33, 1);
}

html.dark-theme #main-container #main-list .mail-list-container {
  border-right: solid 1px #cecece;
  background-color: #fff;
  height: 100%;
}

html.dark-theme #main-container #main-list .mail-list-container .mail {
  margin: 0;
  font-family: "Noto Sans", "Roboto", Arial, "Sans Serif";
}

html.dark-theme #main-container #main-list .mail-list-container .mail .mail-list-sender {
  padding: 10px 0 0 10px;
  color: #1e1e1e;
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
  white-space: nowrap;
}

html.dark-theme #main-container #main-list .mail-list-container .mail .mail-list-text {
  padding: 10px 0 10px 10px;
  color: #303030;
  font-size: 0.9rem;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
  white-space: nowrap;
}

html.dark-theme #main-container #main-list .mail-list-container .mail:after {
  content: "";
  height: 1px;
  width: calc(100% - 20px);
  margin: 0 auto;
  border-bottom: solid 1px #cecece;
  display: block;
}

html.dark-theme #main-container #main-list .mail-list-container .mail:hover {
  background-color: #304ffe5D;
}

html.dark-theme #main-container #main-list .mail-list-container .mail:focus, html.dark-theme #main-container #main-list .mail-list-container .mail:active, html.dark-theme #main-container #main-list .mail-list-container .mail.selected {
  background-color: #304ffe2D;
}

html.dark-theme #main-container #main-list .mail-list-container .mail-list-template {
  display: none;
}
/*# sourceMappingURL=theme.css.map */