$color-main: #304ffe;
$color-light: #536dfe;
$color-dark: #0043ca;

$bgcolor-main: #e4e4e4;
$bgcolor-light: #fff;
$bgcolor-dark: #cecece;

$textcolor-main: #1e1e1e;
$textcolor-light: #303030;
$textcolor-dark: #000000;

$highlight-color: #d3d3d3;
$highlight-color-themed: #{$color-main + "2D"};

$textcolor-inv: #fff;